<h1>Абстракт (язык)</h1>

<?php
    use \yii\widgets\ActiveForm;
    use \yii\helpers\Html;
?>

<?php $form = ActiveForm::begin() ?>
<form action="" method="post" name="Form">
    <div id="DynamicExtraFieldsContainer">
        <div class="addDynamicField">
            <input type="button" id="addDynamicExtraFieldButton" value="Добавить динамическое поле">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
<?php $form = ActiveForm::end() ?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
    var i = 0;
    $('#addDynamicExtraFieldButton').click(function(event) {
        addDynamicExtraField(i);
        i = i + 1;
        return false;
    });

    function addNewRow(div, i) {

        var br = $('<br/>').appendTo(div);
        var about = $('<label/>').html("Описание ").appendTo(div);
        var br = $('<br/>').appendTo(div);
        var textareaAbout = $('<textarea/>', {
            name : "DynamicExtraFieldAbout[]",
            id : i,
            cols : '50',
            rows : '1'
        }).appendTo(div);

        var br = $('<br/>').appendTo(div);
        var add = $('<input/>', {
            value : 'Добавить',
            type : 'button',
            'class' : 'AddDynamicExtraField'
        }).appendTo(div);
        var input = $('<input/>', {
            value : 'Удаление',
            type : 'button',
            'class' : 'DeleteDynamicExtraField'
        }).appendTo(div);
        add.click(function() {
            add.remove();
            input.remove();
            addNewRow(div, i);
        });

        input.click(function() {
            $(this).parent().remove();
        });
    }

    function addDynamicExtraField(i) {
        var div = $('<div/>', {
            'class' : 'DynamicExtraField[]'
        }).appendTo($('#DynamicExtraFieldsContainer'));
        var br = $('<br/>').appendTo(div);
        var about = $('<label/>').html("Вопрос").appendTo(div);
        var br = $('<br/>').appendTo(div);
        var textareaAbout = $('<textarea/>', {
            name : "DynamicExtraFieldQuestion[]",
            id : i,
            cols : '50',
            rows : '3'
        }).appendTo(div);

        var br = $('<br/>').appendTo(div);

        var label = $('<label/>').html("Описание").appendTo(div);
        var br = $('<br/>').appendTo(div);
        var textarea = $('<textarea/>', {
            name : "DynamicExtraFieldAbout[]",
            id : i,
            cols : '50',
            rows : '1'
        }).appendTo(div);
        var br = $('<br/>').appendTo(div);
        var add = $('<input/>', {
            value : 'Добавить',
            type : 'button',
            'class' : 'AddDynamicExtraField'
        }).appendTo(div);
        var input = $('<input/>', {
            value : 'Удаление',
            type : 'button',
            'class' : 'DeleteDynamicExtraField'
        }).appendTo(div);
        add.click(function() {
            add.remove();
            input.remove();
            addNewRow(div, i);
        });

        input.click(function() {
            $(this).parent().remove();
        });
    }
    //Для удаления первого поля
    $('.DeleteDynamicExtraField').click(function(event) {
        $(this).parent().remove();
        return false;
    });

</script>
